<app-usuario-header></app-usuario-header>
<div class="container FAQ">
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline">
        <div class="timeline">
          <a
            routerLink="/ayudaYSoporte"
            routerLinkActive="active"
            disabled="true"
            class="timeline-content"
          >
            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
            <h3 class="title">¿Quienes Somos?</h3>
            <p class="description">
              Somos un grupo empresarial peruano con tradición, líder en las
              Telecomunicaciones. Nos manejamos con altos estándares de gestión
              y producción, para competir internacionalmente. Nuestra
              profesionalización ha permitido que seamos reconocidos como uno de
              los grupos de telecomunicación más importantes y sólidos del Perú.
            </p>
          </a>
        </div>
        <div class="timeline">
          <a
            routerLink="/ayudaYSoporte"
            routerLinkActive="active"
            class="timeline-content"
          >
            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
            <h3 class="title">¿Que hago si no tengo conexion a internet?</h3>
            <p class="description">
              Compruebe en otros dispositivo; Un paso básico para saber qué está
              ocurriendo es que probemos a conectarnos desde otros dispositivos.
              En caso de que tampoco tengan Internet, evidentemente el problema
              estará en el router, en caso contrario, este no tendrá nada que
              ver.
            </p>
          </a>
        </div>
        <div class="timeline">
          <a
            routerLink="/ayudaYSoporte"
            routerLinkActive="active"
            class="timeline-content"
          >
            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
            <h3 class="title">¿Donde puedo cancelar mis recibos?</h3>
            <p class="description">Por cualquier banca movil autorizada</p>
          </a>
        </div>
        <div class="timeline">
          <a
            routerLink="/ayudaYSoporte"
            routerLinkActive="active"
            class="timeline-content"
          >
            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
            <h3 class="title">¿A que zonas tienen cobertura?</h3>
            <p class="description">Casi por todo Cusco</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
