<app-usuario-header></app-usuario-header>
<div class="container Contacto">
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline">
        <div class="timeline">
          <a
            routerLink="/contacto"
            routerLinkActive="active"
            class="timeline-content"
          >
            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
            <h3 class="title">Contactanos</h3>
            <p class="description">
              Inpecable está cerca de ti, en donde te encuentres y a la hora que
              lo necesites. Con gusto nuestros ejecutivos especializados
              atenderán tus dudas, recibirán tus comentarios y te brindarán el
              servicio que requieres. Ponemos a tu alcance el medio de
              comunicación más cómodo para ti.
            </p>
          </a>
        </div>
        <div class="timeline">
          <a
            routerLink="/contacto"
            routerLinkActive="active"
            class="timeline-content"
          >
            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
            <h3 class="title">Nuestros números</h3>
            <p class="description"></p>
            <p>Central Telefonica: (084) 276106</p>
            <p>Ventas: 974138594 / 946534701</p>
            <p>Ventas Corporativas: 974880 085</p>
          </a>
        </div>
        <div class="timeline">
          <a
            routerLink="/contacto"
            routerLinkActive="active"
            class="timeline-content"
          >
            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
            <h3 class="title">Direccion</h3>
            <p class="description">
              Pueden encontrarnos en Urb.Tupac Amaru Ñ-1 Lote-10, San Sebastián
              – Cusco
            </p>
          </a>
        </div>
        <div class="timeline">
          <a
            routerLink="/contacto"
            routerLinkActive="active"
            class="timeline-content"
          >
            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
            <h3 class="title">Redes Sociales</h3>
            <p class="description">
              Buscanos en facebook como Inpecable @GrupoInpecable
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
